canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-family: 'Bitter', sans-serif;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h2 {
  /*font-family: elevon, sans-serif;*/
  /*font-weight: 700;*/
  font-size: 70px;
  margin-bottom: 4px;
  margin-top: 2px;
  font-style: normal;
  font-family: 'Shadows Into Light', sans-serif;

}

h3 {
    /*font-family: elevon, sans-serif;*/
    /*font-weight: 700;*/
    font-size: 45px;
    margin-bottom: 4px;
    margin-top: 2px;
    font-style: normal;
    font-family: 'Bitter', sans-serif;
  }

h1 {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-size: 120px;
    font-style: normal;
    font-family: 'Shadows Into Light', sans-serif;
    margin-top: 5px;
    margin-bottom: 6px;
}

h4 {
    font-family: 'Caveat', sans-serif;
    font-weight: 800;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 6px;
}

h5 {
    font-family: 'Caveat', sans-serif;
    font-weight: 800;
    font-size: 65px;
    color: rgba(15, 15, 15, 0.95);
    background-color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 10px;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    font-family: 'Caveat', sans-serif;
    font-weight: 600;
    font-size: 65px;
    color: rgba(15, 15, 15, 0.95);
    font-family: 'Caveat', sans-serif;
    background-color: white;
    display: inline;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
  }

  blockquote h5 {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1.25;
    padding-left: 5px;
    padding-right: 8px;
  }

  .left {
    grid-column: 6 / 12;
  }